.inputContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 200px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 40%;
}
